# Vivado generated directories
*.cache/
*.runs/
*.gen/
*.hw/
*.ip_user_files/
*.sim/

# Vivado temporary files
.Xil/
*.jou
*.log
*.str
*.pb
*.wdb

# Generated implementation outputs
*.bit
*.bin
*.ltx
*.dcp

# Simulation outputs
*.vcd
*.fst

# Editor / OS
*~
*.swp
*.swo
.DS_Store